---
title: OPT instructies
---

<%= partial "navigation" %>
<div class="container">
  <article>
    <h1>
      Instructies
    </h1>
    <p>
      Ervaring leert dat een consult waarin de OPT gebruikt wordt 10-30 minuten duurt. Artsen en patiënten zijn positief over het instrument en vinden het eenvoudig en snel te gebruiken.
    </p>
    <p>
      Gebruikershandleiding OPT
    </p>
    <ol>
      <li>Introduceer het instrument en licht de aanleiding voor het gebruik toe.</li>
      <li>
        Licht de verschillende gezondheidsuitkomsten toe
        <ul>
          <li>Levensverlenging</li>
          <li>Onafhankelijkheid bewaren</li>
          <li>Verminderen of wegnemen van pijn</li>
          <li>Verminderen of wegnemen van andere symptomen (bijvoorbeeld kortademigheid, misselijkheid, jeuk)</li>
        </ul>
      </li>
      <li>
        Leg het afruilprincipe uit: uitkomsten moeten worden gerangschikt op volgorde van belang. Als een patiënt een uitkomst prioriteert (bijvoorbeeld levensverlenging), betekent dit dat hij/zij bereid is om iets in te leveren op een andere uitkomst (bijvoorbeeld onafhankelijkheid bewaren).
      </li>
      <li>
        Nodig de patiënt uit om de doelen te waarderen en rangschikken. Tijdens dit proces kan de patiënt worden aangemoedigd om toe te lichten wat belangrijk is en waarom bepaalde keuzes worden gemaakt.
      </li>
      <li>
        Controleer of de resultaten daadwerkelijk de voorkeuren van de patiënt beschrijven.
      </li>
      <li>De uitslag kan in de vorm van een score worden genoteerd.</li>
    </ol>
    <p>
      Let op: de OPT kan een gesprek ondersteunen, maar niet vervangen.
    </p>
  </article>
