---
title: OPT Video
---

<%= partial "navigation" %>
<div class="container">
  <article>
    <h1>
      OPTool video
    </h1>
    <p>
      In het onderstaande filmpje ziet u een voorbeeld van een gesprek waarin de OPT wordt gebruikt.
      In dit voorbeeld wordt de OPT toegepast bij een oudere patiënt die veel verschillende medicijnen gebruikt.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IPUAebRU46A" frameborder="0" allowfullscreen></iframe>
  </article>
</div>

