---
title: OPT Video
---

<%= partial "en_navigation" %>

<div class="container">
  <article>
    <h1>
      OPTool video
    </h1>
    <p>
      In the video below you see an example of the OPT in practice In this example the OPT is used with an elderly patient who uses a variety of medications
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IPUAebRU46A" frameborder="0" allowfullscreen></iframe>
  </article>
</div>

