---
title: Welcome to Middleman
---

<%= partial "navigation" %>

<div class="container">
  <div class="slider-container">
  <div class="sliders">
    <div id="ember509" class="ember-view slider"><div class="slider-ui noUi-target noUi-rtl noUi-vertical noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-stacking" style="top: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>

  <div class="markers">
    <span></span>
    <span>10</span>
    <span>20</span>
    <span>30</span>
    <span>40</span>
    <span>50</span>
    <span>60</span>
    <span>70</span>
    <span>80</span>
    <span>90</span>
    <span>100</span>
  </div>

  <h4>
  <div id="ember518" class="ember-view tooltipstered">    Levensverlenging

  </div></h4>
  </div>
      <div id="ember527" class="ember-view slider"><div class="slider-ui noUi-target noUi-rtl noUi-vertical noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-stacking" style="top: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>

  <div class="markers">
    <span></span>
    <span>10</span>
    <span>20</span>
    <span>30</span>
    <span>40</span>
    <span>50</span>
    <span>60</span>
    <span>70</span>
    <span>80</span>
    <span>90</span>
    <span>100</span>
  </div>

  <h4>
  <div id="ember528" class="ember-view tooltipstered">    Onafhankelijkheid bewaren

  </div></h4>
  </div>
      <div id="ember537" class="ember-view slider"><div class="slider-ui noUi-target noUi-rtl noUi-vertical noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-stacking" style="top: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>

  <div class="markers">
    <span></span>
    <span>10</span>
    <span>20</span>
    <span>30</span>
    <span>40</span>
    <span>50</span>
    <span>60</span>
    <span>70</span>
    <span>80</span>
    <span>90</span>
    <span>100</span>
  </div>

  <h4>
  <div id="ember538" class="ember-view tooltipstered">    Pijn verminderen

  </div></h4>
  </div>
      <div id="ember547" class="ember-view slider"><div class="slider-ui noUi-target noUi-rtl noUi-vertical noUi-background"><div class="noUi-base"><div class="noUi-origin noUi-stacking" style="top: 100%;"><div class="noUi-handle noUi-handle-upper"></div></div></div></div>

  <div class="markers">
    <span></span>
    <span>10</span>
    <span>20</span>
    <span>30</span>
    <span>40</span>
    <span>50</span>
    <span>60</span>
    <span>70</span>
    <span>80</span>
    <span>90</span>
    <span>100</span>
  </div>

  <h4>
  <div id="ember548" class="ember-view tooltipstered">    Andere klachten verminderen

  </div></h4>
  </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    console.log( "ready!" );
    const startValue = 0;

    // init noUiSlider

    $('.slider-ui').noUiSlider({
      start: startValue,
      orientation: 'vertical',
      direction: 'rtl',
      range: {
        'min': 0,
        'max': 100
      }
    });
  });
</script>
